.vscode

api/static/images
api/.venv
api/Pipfile
api/Pipfile.lock
__pycache__/app.cpython-312.pyc
__pycache__/app.cpython-312.pyc
api/__pycache__/app.cpython-312.pyc
api/__pycache__/reservas.cpython-312.pyc
__pycache__/app.cpython-312.pyc
__pycache__/app.cpython-312.pyc

# android
app_android/*.iml
app_android/.gradle
app_android/local.properties
app_android/.idea/caches
app_android/.idea/libraries
app_android/.idea/modules.xml
app_android/.idea/workspace.xml
app_android/.idea/navEditor.xml
app_android/.idea/assetWizardSettings.xml
app_android/.DS_Store
app_android/build
app_android/captures
app_android/.externalNativeBuild
app_android/.cxx
app_android/local.properties

app_android/.idea/shelf/
app_android/.idea/workspace.xml

app_android/app/build