{% extends 'base.html' %}
{% block body %}


<h1 class="titulo_actuales">Complete su reserva</h1>
<div class="contenedor_reserv">
    <div class="contenedor_edit_reservas">
        <img class="reserva" src="/static/img/destination-1.jpg" alt="">
        <form action="{{ url_for('reservas')}}" method="POST">
            <h3 class="desde_hasta">Desde</h3>
            <br>
            <label for="reserva_desde"></label>
                <input type="date">
                <input type="month">
                <input type="week">
                <input type="datetime-local">
            <br>
            <h3 class="desde_hasta">Hasta</h3>
            <br>
            <label for="reserva_hasta"></label>
                <input type="date">
                <input type="month">
                <input type="week">
                <input type="datetime-local">
            <br>
            <br>
            <h5>cantidad de adultos</h5>
            <label></label>
            <input type="number" id="adultos" name="cantidad_de_adultos">
            <br>
            <br>
            <h5>cantidad de niños</h5>
            <label></label>
            <input type="number" id="niños" name="cantidad_de_niños">
            <br>

        <button type="submit" class="boton_confirmar">Confirmar reserva</button>
    </form>
    </div>
</div>



















{% endblock %}