{% extends 'base.html' %}
{% block body %}
<h2 class="titulo_actuales" style="margin-top: 70px">Su reserva: [ID]</h2>
<div class="contenedor_reserv_fin"  >
    <div class="contenedor_edit_reservas">

        <form  class="formulario_reserva" action="{{ url_for('reservas')}}" method="POST">

            <label class="text_form_reserv" for="reserva_desde">Fecha de inicio de la reserva</label>
                <input type="date" class="input_form_fechas" id="reserva_desde">



            <label class="text_form_reserv" for="reserva_hasta">Fecha de finalizacion de la reserva</label>
                <input type="date" class="input_form_fechas" id="reserva_hasta">


            <label class="text_form_reserv" for="habitacion_id">Tipo de Habitacion (ID)</label>
                <input type="number" class="input_form" id="habitacion_id">


            <label class="text_form_reserv" for="adultos"> Cantidad de adultos</label>
            <input class="input_form" type="number" id="adultos" name="cantidad_de_adultos">

            <label class="text_form_reserv" for="niños"> Cantidad de niños</label>
            <input class="input_form" type="number" id="niños" name="cantidad_de_niños">


        <button type="submit" class="boton_confirmar">Guardar cambios</button>
    </form>
    </div>
    <div>
        <table class="tabla_habitaciones" style="margin-top: 30px">
                <thead class="thead_hab">
                <tr>
                    <th>Tipo de Habitacion</th>
                    <th>Cantidad de Huespedes</th>
                    <th>Precio Adulto</th>
                    <th>Precio Niño</th>
                    <th>Superficie</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>
                <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>
                <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>
                <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>
                <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>
                <tr>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>
                        <td class="td_hab">ejemplo</td>


                    </tr>


                </tbody>
            </table>
    </div>
<div class="cont_precio_final">
    <h3 class="titulo_precio_final">Precio Final</h3>
    <p class="precio_final">$00000/0000USD</p>

</div>


</div>



{% endblock %}