<!-- Home Start-->
<body>

    <header class="hero">
        <nav class="nav container">

            <div class="nav__menu">
                <img src="./img/bg-hero.jpg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Enjoy Your Vacation With Us</h1>
            <p class="hero__paragraph">Tempor erat elitr rebum at clita diam amet diam et eos erat ipsum lorem sit</p>
            <nav> 
                <ul>
                    <li><a href="#" class="cta">Eg: Thailand</a></li>
                </ul>
            </nav>
        </section>
    </header>

</body>

<!--Home End-->
