{% extends 'base.html' %}
{% block body %}

<div class="contenedor_inicio_sesion">
    <h2 class="inicio_sesion">Inicio de sesion</h2>
        <form action="{{ url_for('log')}}" method="POST" class="form_register">
            <label class="form_label" for="user_name">Ingrese su nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="nombre" class="campos_form">
            <br>
            <label for="user_lname" class="form_label">Ingrese su apellido</label>
            <input type="text" name="apellido" id="nombre" placeholder="apellido" class="campos_form">
            <br>
            <label for="user_email" class="form_label">Ingrese su email</label>
            <input type="email" name="email" id="email" placeholder="email" class="campos_form">
            <br>
            <label for="password" class="form_label">Ingrese su contraseña</label>
            <input type="password" name="password" id="password" placeholder="contraseña " class="campos_form">
            <br>
            <button type="submit" class="boton_log" style="margin-top: 20px">Log in</button>
        </form>

</div>

{% endblock %}