{% extends 'base.html' %}
{% block body %}



<div class="contenedor_info_back">


<img src="{{ url_for('static', filename = "img/ImgHotelesBD/"+imagen.ImgHotel) }}" class="imagen_info_hotel2" alt="">


    <div class="contenedor_info">

        <h2 class="texto_info_titulo"> {{ hotel.Nombre }} </h2>
        <h5 class="texto_info" style="color: #72a522">{{ hotel.Direccion }}</h5>
        <h5 class="texto_info" style="color: #72a522">{{ hotel.Localidad }}</h5>
        <p class="texto_info">{{ hotel.Descripcion }}</p>

    </div>



    <div class="contenedor_info2">
            <h3 class="texto_info_titulo_tabla">Tipos de Habitaciones</h3>


            <table class="tabla_habitaciones">
                <thead class="thead_hab">
                <tr>
                    <th class="th_l">Tipo de Habitacion</th>
                    <th class="th_l">Descripcion</th>
                    <th>Cantidad de Huespedes</th>
                    <th>Precio Adulto</th>
                    <th>Superficie</th>
                    <th>Numero</th>
                    <th>Reservar</th>

                </tr>
                </thead>
                <tbody>
                    {% for habit in habitacion %}
                    <tr>
                        <td class="td_hab_l">{{ habit.Nombre }}</td>
                        <td class="td_hab_l">{{ habit.Descripcion }}</td>
                        <td class="td_hab">{{ habit.CantHuespedes }}</td>
                        <td class="td_hab">${{ habit.PrecioAdulto }}</td>
                        <td class="td_hab">{{ habit.Superficie }}</td>
                        <td class="td_hab">{{ habit.TipoID }}</td>
                        <td class="td_hab"><a href='{{ url_for('seleccion_habitacion', TipoID=habit.TipoID, PrecioAdulto=habit.PrecioAdulto, _external=True) }}'>IR</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
    </div>




</div>

{% endblock %}