{% extends 'base.html' %}

{% block body %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


<!-- cuerpo ¿uso con for? -->
<h1 class="titulo_actuales">Mis Reservas</h1>



            <div class="contenedor_reser2">
             <h1 class="reservas_title"></h1>


        <!-- todas las reservas-->
        <div class="contenedor_reserva_unica">
            <h3 class="reservas_cont">hotel </h3>
            <div class="info_lugar" style="width: 600px">
                <p style="float: right">ID de la Reserva: </p>
                <p>Fecha de entrada: </p>
                <p>Fecha de salida: </p>
                <img class="muestra2" src="" alt="">
                <div class="en_curso2">
                    <img class="mini_logo" src="{{ url_for('static',filename='img/logo_mini.png') }}" alt="">
                    <p class="mini_txt">En Curso</p>
                </div>


            </div>
            <button type="button" class="cancelar_reserva"  >Cancelar Reserva</button>

        </div>


        </div>

 {% endblock %}