{% extends 'base.html' %}

{% block body %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


<!-- cuerpo ¿uso con for? -->
<h1 class="titulo_actuales">   Mis reservas</h1>
    <div class="contenedor_reserv">
        <h1 class="reservas_title"></h1>
        <!-- todas las reservas-->
        <div class="contenedor_reserva_unica">
            <h3 class="reservas_cont"> Hotel 1 </h3>
            <div class="info_lugar">
                <p>el mejor hotel numero 1</p>
                <img class="muestra" src="" alt="">
                <div class="en_curso">
                    <img class="mini_logo" src="/static/img/logo_mini.png" alt="">
                    <p class="mini_txt">En curso</p>
                </div>


            </div>
            <button class="editar_reserva">Editar reserva</button>
            <button class="cancelar_reserva">Cancelar reserva</button>
        </div>

        <!-- todas las reservas-->
        <div class="contenedor_reserva_unica">
            <h3 class="reservas_cont"> Hotel 2 </h3>
            <div class="info_lugar">
                <p>el mejor hotel numero 2</p>
                <img class="muestra" src="" alt="">
                <div class="en_curso">
                    <img class="mini_logo" src="/static/img/logo_mini.png" alt=""> 
                    <p class="mini_txt">En curso</p>
                </div>


            </div>
            <button class="editar_reserva">Editar reserva</button>
            <button class="cancelar_reserva">Cancelar reserva</button>
        </div>
        <div class="contenedor_reserva_unica">
            <h3 class="reservas_cont"> Hotel 2 </h3>
            <div class="info_lugar">
                <p>el mejor hotel numero 2</p>
                <img class="muestra" src="" alt="">
                <div class="en_curso">
                    <img class="mini_logo" src="/static/img/logo_mini.png" alt=""> 
                    <p class="mini_txt">En curso</p>
                </div>


            </div>
            <button class="editar_reserva">Editar reserva</button>
            <button class="cancelar_reserva">Cancelar reserva</button>
        </div>


    </div>
    </div>
 {% endblock %}