{% extends 'base.html' %}
{% block body %}


    <div class="contenedor_info2_2">
            <h3 class="texto_info_titulo_tabla2">Habitaciones</h3>


            <table class="tabla_habitaciones_2">
                <thead class="thead_hab">
                <tr>
                    <th class="th_l">Numero de Habitacion</th>
                    <th>Piso</th>
                    <th>Seleccionar</th>

                </tr>
                </thead>
                <tbody>
                    {% for habitacion, img in habitacion_imagen %}
                    <tr>
                        <td class="td_hab_l">{{ habitacion.NumHabitacion }}</td>
                        {% if habitacion.Piso == 0 %}
                            <td class="td_hab">PB</td>
                        {% else %}
                            <td class="td_hab">{{ habitacion.Piso }}</td>
                        {% endif %}
                        <td class="td_hab"><a href='{{ url_for('terminar_reserva', HabitacionID = habitacion.HabitacionID,_external=True) }}'>IR</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
    </div>



{% endblock %}
